- 
    const videoData = [
            {   
                id: 'video-1',
                brightness: '50',
                contrast: '50',
                position: 'topl',
                source: '../streams/sosed.mp4'
            },
            {   
                id: 'video-2',
                brightness: '50',
                contrast: '50',
                position: 'topr',
                source: '../streams/cat.mp4'
            },
            {   
                id: 'video-3',
                brightness: '50',
                contrast: '50',
                position: 'bottoml',
                source: '../streams/cat.mp4'
            },
            {   
                id: 'video-4',
                brightness: '50',
                contrast: '50',
                position: 'bottomr',
                source: '../streams/dog.mp4'
            },
        ];
  
section.video
    ul.video__list
      each video in videoData
        li.video__item(class=`video__item--`+video.position)
            video.video__player(id=video.id muted controls loop  autoplay frameborder="0")
                source(src=video.source)
            form.video__controls
              label.video__label.video__label--brightness Яркость:&nbsp; 
                span.video__value.video__value--brightness=video.brightness+` %`
                input.video__input.video__input--brightness(type="range" value=video.brightness min="0" max="100" step="10")
              label.video__label.video__label--contrast Контраст:&nbsp;
                span.video__label-value.video__value--contrast=video.contrast+` %`
                input.video__input.video__input--contrast(type="range" value=video.contrast min="0" max="100" step="10")
              button.video__close(type="button") Все камеры
            div.video__sound
              canvas(width="100" height="150").video__canvas